<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<header>
				<h1>React/Rails Todo App</h1>
			</header>
			<hr />
			<div class="well">
				<h4>Your Lists</h4>
			</div>
			<div id="lists"></div>
		</div>
	</div>
</div>