// color palette
// https://color.adobe.com/Flat-UI-color-theme-2469224/
$darkblue: #2c3e50;
$red: #e74c3c;
$white: #ecf0f1;
$lightblue: #3498db;
$blue: #2980b9;

// task/list box
.box {
	border: 1px solid #e3e3e3;
	border-radius: 0 0 4px 4px;
	padding: 20px;
	height: 60px;
}

// box for icons
.icon-box {
	border-radius: 4px;
	padding: 2px;
	color: #fff;
}

// delete icon
.glyphicon-remove {
	@extend .icon-box;
	background-color: $red;
	border: 1px solid $red;
}